/* Global Variables */

:root {
  --main-gray: #888888;
  --primary-green: #419460
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Verdana;
}

button {
  background-color: #E97437;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35px;
}

p {
  line-height: 1.5;
}

/* Ids */

#citizens-bank-logo {
  width: 30%;
  margin-top: -50px;
  margin-left: 50px;
}

#banner1 {
  width: 102%;
  margin-left: -10px;
  margin-top: -40px;
}

#banner2 {
  display: none;
}

#section2 .section2-text {
  color: var(--main-gray);
  margin: 0px 50px;
  line-height: 2;
  font-size: 18px;
  margin-top: 15px;
}

#footer {
  border-top: 1px solid var(--primary-green);
  padding: 50px;
}

#footer p {
  margin-top: 25px;
  margin-bottom: 0px;
}

#section3 .nobottom {
  border-bottom: none;
}

/* Classes */

.container {
  padding: 0px 50px;
}

.section3-text {
  color: var(--main-gray);
  line-height: 2;
  font-size: 18px;
  margin-top: 15px;
}

.section4-text {
  color: var(--main-gray);
  margin-top: 0px !important;
  line-height: 2;
  font-size: 18px;
  margin-top: 15px;
  padding: 30px;
  background-color: #EBF7F5;
}

.section4-title {
  background-color: var(--primary-green);
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px 0px;
  margin-bottom: 0px;
}

.column1, .column2 {
  width: 100%;
  padding: 30px 50px;
}

.title {
  color: var(--primary-green);
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.section3-title {
  color: var(--primary-green);
  font-size: 25px;
  margin-bottom: 10px;
}

.row1-border {
  border-right: 1px solid var(--main-gray);
  height: 225px;
  margin-top: 65px;
}

.row2-border {
  border-right: 1px solid var(--main-gray);
  height: 180px;
  margin-top: 65px;
}

.row {
  display: flex;
}

.row .item {
  width: 100%;
  padding: 50px;
}

.item > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-container {
  position: relative;
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-container .text1 {
  text-align: center;
}

.quote1 {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color:  var(--primary-green);
}

.quote2 {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color:  var(--primary-green);
}

.quote3 {
  text-align: center;
  width: 110%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color:  var(--primary-green);
}

.text1 {
  color: var(--main-gray);
  font-style: italic;
  line-height: 1.93;
  font-size: 18px;
  text-align: center;
}
.text2 {
  color: var(--main-gray);
  font-style: italic;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}
.text3 {
  font-style: italic;
  text-align: center;
  color: var(--main-gray);
  line-height: 1.64;
  font-size: 18px;
}

.green-border {
  border: 1px solid #429661;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.footertext {
  color: var(--main-gray);
  font-size: 14px;
}

.background {
  font-size: 200px;
  opacity: 0.05;
  position: absolute;
  top: -40px;
  left: -6px;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.item2-text-conatiner {
  position: relative;
}

.link {
  color: #749B29
}

/* Mobile */

@media only screen and (max-width: 800px) {

  button {
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #citizens-bank-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    width: 50%;
    margin-bottom: -10px;
  }

  #banner1{
    display: none;
  }

  #banner2 {
    display: block;
    width: 100%;
  }

  #section3 > .title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #section5 .item {
    margin-top: 50px;
  }

  #section5 .row {
    margin-bottom: 80px;
  }

  #footer p {
    font-size: 12px;
  }

  #footer img {
    width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer {
    padding: 25px;
  }

  .title {
     font-size: 25px;
  }

  .section2-text {
    margin: 0px 25px !important;
    margin-top: 15px !important;
  }

  .row1-border,
  .row2-border {
    display: none;
  }

  .column1,
  .column2 {
    /* width: 82% */
    padding: 0px;
    border-bottom: 1px solid var(--main-gray)
  }

  .section3-title {
    font-size: 25px;
    margin-top: 30px;
    padding-left: 20px;
  }

  .section3-text {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .row {
    display: block;
  }

  .link {
    font-size: 18px;
    padding-left: 20px;
  }

  .container {
    padding: 0px 10px
  }

  .item > img {
    width: 75%;
  }

  .row .item {
    /* width: 82%; */
    padding: 0px;
  }

  .text1,
  .quote1,
  .section4-text,
  .text2,
  .quote2,
  .text3,
  .quote3
  {
    font-size: 18px;
  }

  .quote1 {
    width: 95%;
    text-align: center;
  }

  .quote2 {
    width: 85%;
    text-align: center;
  }

  .quote3 {
    text-align: center;
    width: 101%;
  }

  .section4-title {
    margin-top: 35px;
    font-size: 20px;
    padding: 20px 15px;
  }

  .text2 {
    line-height: 1.93;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-container {
    width: 70%;
  }

  .item2-text-conatiner .background {
    left: 25px;
  }

}
